<div class="cart-page" data-page="cart">

    
  {% if cart.item_count > 0 %}

    <form class="cart-form" action="/cart" method="post">  

    
      {% comment %} PAGE TITLE {% endcomment %}
      <div class="cart-page--title">
        <h1>Shopping Cart</h1>
      </div>

      <div class="form--wrapper">

          {% comment %} CART ITEMS {% endcomment %}
          <div class="cart-items">
            <ul class="cart-item--wrapper">
              {% for item in cart.items %}
  
  
                <li class="cart-item">
  
                  {% comment %} IMAGE {% endcomment %}
                  <div class="image">
                    <a href="{{ collection_url }}{{ item.url }}">
                      <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
                    </a>
                  </div>
  
                  {% comment %} TITLE {% endcomment %}
                  <div class="title">
                    <h2>
                      <a href="{{ collection_url }}{{ item.url }}">
                        {{ item.title }}
                      </a>
                    </h2>
                  </div>
  
                  {% comment %} QUANTITY {% endcomment %}
                  <div class="quantity">
                    <input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity" value="{{ item.quantity }}" />
                  </div>
  
                  {% comment %} PRICE {% endcomment %}
                  <div class="price">
                    {{ item.line_price | money }}
                  </div>
  
                  {% comment %} REMOVE {% endcomment %}
                  <div class="remove">
                    <a href="/cart/change?line={{ forloop.index }}&quantity=0">&times;</a>
                  </div>
  
                </li>
  
              {% endfor %}
            </ul>
          </div>

          {% comment %} CART TOTALS {% endcomment %}
          <div class="cart-totals">
            <div class="cart-totals--wrapper">

              {% comment %} SUBTITLE {% endcomment %}
              <div class="sub-total">
                <h3>Subtotal <em>{{ cart.total_price | money }}</em></h3>
              </div>

              {% comment %} SUBMIT {% endcomment %}
              <div class="checkout">
                <input type="submit" name="checkout" value="Continue" />
              </div>

              {% comment %} PAYPAL BUTTONS {% endcomment %}
              <div class="additional-payment-options">
                {% if additional_checkout_buttons %}
                  {{ content_for_additional_checkout_buttons }}
                {% endif %}
              </div>

              <div class="back-to-shop">
                <a href="/collections/all" title="Back to shop">Back to shop</a>
              </div>

            </div>
          </div>

      </div>
    </form>

  {% else %}

    <div class="cart-is-empty">
      <h2>It appears that your cart is currently empty!</h2>
      <h3><a href="/collections/all" title="Back to shop">Back to shop</a></h3>
    </div>

  {% endif %}

</div>
