{% comment %}
Collections
{% endcomment %}

<div class="page-container" data-page="collection">

  <div class="product-archive">
  
    {% paginate collection.products by 1000 %}

      <div class="product-archive--wrapper">
        
        <ul class="products">

          {% for product in collection.products %}

            <li class="item">
              <div class="image">
                <a href="{{ product.url }}" title="{{ product.title }}">
                  <img src="{{ product.featured_image | img_url: '900x' }}" alt="{{ product.title }}" />
                </a>
              </div>
              <div class="title">
                <a href="{{ product.url }}" title="{{ product.title }}">
                  <h2 class="product-title">
                    {{ product.title }}
                  </h2>
                </a>
              </div>
              <div class="price">
                <a href="{{ product.url }}" title="{{ product.title }}">
                  {{ product.price | money_without_trailing_zeros }}
                </a>
              </div>
            </li>

          {% endfor %}

        </ul>

      </div>

    {% endpaginate %}
    
  </div>

</div>