{% comment %}
Homepage
{% endcomment %}

<style>
.signup-for-launch {
    float: left;
    position: fixed;
    bottom: 0;
}
</style>

<div class="enter">
  <div class="enter--wrapper">

    <div class="logo">
      <img src="{{ 'pinkday--logo--filled.png' | asset_url }}" alt="{{ 'Pink Day' | escape }}" />
    </div>

    <video id="player" loop muted playsinline autoplay>
      <source src="{{ 'pinkday-compress.mp4' | asset_url }}" type="video/mp4">
    </video>

    {% comment %}
    THIS BUTTON IS FOR LIVE VERSION
    <div class="enter-button">
      <span>{{ 'Enter' | escape }}</span>
    </div>
    {% endcomment %}

    <div class="signup-for-launch">
      {% form 'customer' %}
          <div class="email">
            <label for="email" style="display: none;">Email</label>
            <input type="email" placeholder="EMAIL ADDRESS" name="contact[email]" />
          </div>
        
          <div class="submit">
            <input type="submit" value="Sign up" />
          </div>
      {% endform %}
    </div>

  </div>
</div>

<div class="page-container" data-page="home">

  <div class="product-archive">
  
    {% paginate collections.all.products by 1000 %}

      <div class="product-archive--wrapper">
        
        <ul class="products">

          {% for product in collections.all.products %}

            <li class="item">
              <div class="image">
                <a href="{{ product.url }}" title="{{ product.title }}">
                  <img src="{{ product.featured_image | img_url: '900x' }}" alt="{{ product.title }}" />
                </a>
              </div>
              <div class="title">
                <a href="{{ product.url }}" title="{{ product.title }}">
                  <h2 class="product-title">
                    {{ product.title }}
                  </h2>
                </a>
              </div>
              <div class="price">
                <a href="{{ product.url }}" title="{{ product.title }}">
                  {{ product.price | money_without_trailing_zeros }}
                </a>
              </div>
            </li>

          {% endfor %}

        </ul>

      </div>

    {% endpaginate %}
    
  </div>

</div>



<script>
  (function($) {

    $(document).ready(function(){

      $('.product-title').each(function(i, v) {

        var title = $(v).text();
        var d = title.split('/')[0];
        var y = title.substr(title.indexOf("/") + 1);

        $(this).text(d);

        if (title.indexOf("/") >= 0) {
          $(this).append('<div class="product-variant">' + y + '</div>');
        }        

      });

    });
    
  })(jQuery);
</script>